<% if (data.legends && data.legends.length > 0) { %>
<div class="flex items-center flex-wrap gap-3 mt-2 md:mt-0">
  <% data.legends.forEach(legend => { %>
  <div
    class="flex items-center gap-2 bg-base-100 px-3 py-1.5 rounded-md border border-neutral-content/20">
    <div class="badge badge-sm" style="background: <%= legend.color %>"></div>
    <p class="text-sm font-medium"><%= legend.range %></p>
  </div>
  <% }) %>
</div>
<% } %>
