<section
  class="p-4 md:p-6 flex flex-col gap-4 flex-1 overflow-hidden h-full w-full">
  <div class="flex flex-col gap-3">
    <h2 class="text-xl md:text-2xl font-bold border-l-4 border-primary pl-3">
      Estatus al <%= formatDateTime(data?.currentDate ?? "") %>
    </h2>

    <% if (data && data.legends) { %>
    <div
      class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4">
      <div class="flex items-center gap-3">
        <p
          class="badge badge-lg badge-ghost border border-neutral-content/20 bg-info/10 gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
            <circle cx="9" cy="7" r="4" />
            <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
            <path d="M16 3.13a4 4 0 0 1 0 7.75" />
          </svg>
          <%= data?.students?.length || 0 %> estudiantes
        </p>
      </div>

      <%- include('../partials/_legend') %>
    </div>
    <% } %>
  </div>

  <%- include("../partials/school-table") %>
</section>
