<footer
  class="footer footer-center p-6 bg-base-100 text-base-content border-t border-neutral-content/20">
  <div
    class="flex flex-col md:flex-row gap-4 items-center justify-between w-full">
    <p class="text-sm">© <%= new Date().getFullYear()%> radarX</p>
    <div class="flex gap-4">
      <a href="/about" class="link link-hover text-sm">Acerca de</a>
      <a href="/privacy" class="link link-hover text-sm">Privacidad</a>
      <a href="/terms" class="link link-hover text-sm">Términos</a>
      <a href="/help" class="link link-hover text-sm">Ayuda</a>
    </div>
  </div>
</footer>
